.about__container {
	display: flex;
}

.about__list {
	display: flex;
}

.about__item:not(:last-child) {
	margin-right: 30px;
}

.about__group {
	flex-basis: 500px;
	margin-left: 64px;
}

.about__descr {
	margin-bottom: 40px;
}